.Avards {
  width: 50vw;
  color: navy;

  font-family: "kalam", cursive;
  font-size: larger;

  padding: 0px 25px 0px;
}
.Avards > #prize > img {
  width: 45vw;
}
#prize {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
#Described > p {
  padding: 10px 15px 0px;
  cursor: default;
  font-family: "Acme", sans-serif;
}


@media screen and (max-width: 900px) {
  .Avards {
    width: 100vw;
    padding: 5px 15px 5px;
  }
  #Described > p {
    display: flex;
    align-items: center;
  }
  .Avards > #prize {
    display: flex;
    align-items: center;
  }
  .Avards > #prize > img {
    width: 36vw;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 530px) {
  #Described > p {
    font-size: small;
    padding: 5px 10px 0px;
  }
}
@media screen and (max-width: 630px) {
  .Avards {
    width: 100vw;
  }
}
#Head {
  width: 50vw;
  font-size: larger;
  display: flex;
  justify-content: center;
  background: rgba(66, 8, 255, 0.4);
  color: darkblue;
  font-family: "Acme", sans-serif;

  cursor: default;
}
@media screen and (max-width: 900px) {
  #Head {
    width: 100vw;
  }
}
@media screen and (max-width: 630px) {
  #Head {
    width: 100vw;
  }
}
