.alumniBtn {
  background-color: blue;
  border-radius: 5px;
  color: white;
  border: 0px solid blue;
  margin: 3px 5px 3px;
  padding: 5px 5px 5px;
  width: 45vw;

  cursor: default;
}
.close {
  width: 98%;
  display: flex;
  justify-content: center;
}
#Alumni > button:hover {
  background-color: white;
  color: navy;
  transition: all 0.6s ease;
}
#Alumni {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.content {
  cursor: default;
  font-size: 18px;
  font-family: "Acme", sans-serif;
  word-spacing: 5px;
  letter-spacing: 0.6px;
}
@media screen and (max-width: 530px) {
  .alumniBtn {
    margin: 2px;
    padding: 2px 1px 2px;
    font-size: smaller;
    cursor: pointer;
  }
}

.commitee {
  display: flex;
  justify-content: center;
}
.commitee > table > *,
.commitee > table > tbody > * {
  border: 2px solid white;
  padding: 5px;
  cursor: context-menu;

  text-align: center;
  color: white;
}
.commitee > table {
  width: 90vw;
}
.commitee > table > thead {
  font-size: 21px;
}
.commitee > table > tbody > tr > * {
  font-family: "kalam", cursive;
}
@media screen and (max-width: 530px) {
  .commitee > table > thead {
    font-size: 17px;
  }
  .commitee > table > tbody > tr > * {
    font-size: 13px;
  }
}

.mem > p > a {
  color: white;
  text-decoration: none;
}
.mem > p > a:hover {
  text-decoration: underline;
}
.pict {
  display: flex;
  flex-direction: row;
}
.mem >.pict> *{ 
  width: 45vw;
  margin-inline: 10px;
}
