.ContentBox {
  width: 100vw;
}

#ExcellenceBox {
  display: flex;
  flex-direction: row;
}
#ExcellenceBox >*{
  text-decoration: none;
}
.Flexboxes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-inline: 1vw;
  margin-bottom: 20px;
}
.FlexBox {
  width: 45vw;
  box-shadow: 2px 2px 5px black;
  margin: 10px 10px 0px;
  border-radius: 10px;
}
.FlexBox:hover {
  animation: Slide 0.5s linear 1 forwards;
}
.Conttent {
  width: 36vw;
  font-family: "Mukta", sans-serif;
  color: navy;
  margin: 0px 5px 0px;
}
.Pic {
  width: 10vw;
  margin: 5px 5px 5px;
}
.Pic > img {
  border-radius: 10px;
  width: 10vw;
}
@media screen and (max-width: 900px) {
  .Flexboxes {
    justify-content: center;
  }
  .FlexBox {
    width: 97vw;
    margin: 10px 10px 3px;
    border-radius: 10px;
  }
  .Conttent {
    width: 85vw;
    margin-inline: 5px;
  }
  .Pic {
    width: 15vw;
  }
  .Pic > img {
    width: 10vw;
  }
}

@keyframes Slide {
  0% {
    background: linear-gradient(to right, rgba(66, 8, 255, 0.4) 0%, white 100%);
  }
  25% {
    background: linear-gradient(to right, rgba(66, 8, 255, 0.4) 5%, white);
  }
  50% {
    background: linear-gradient(to right, rgba(66, 8, 255, 0.4) 40%, white);
  }
  75% {
    background: linear-gradient(to right, rgba(66, 8, 255, 0.4) 80%, white);
  }
  100% {
    background: linear-gradient(
      to right,
      rgba(66, 8, 255, 0.4) 0%,
      rgba(66, 8, 255, 0.4) 100%
    );
  }
}


@media screen and (max-width:1169px) {
  .ContentBox {
    position: relative;
    top:50px
  }
}

@media screen and (max-width:933px) and (min-width:884px) {
  .ContentBox {
    position: relative;
    top:90px
  }
}

@media screen and (max-width:884px) {
  .ContentBox {
    position: relative;
    top:300px
  }
}


@media screen and (max-width:629px) {
  .ContentBox {
    position: relative;
    top:350px
  }
}
@media screen and (max-width:600px) {
  .ContentBox {
    position: relative;
    top:800px
  }
}
@media screen and (max-width:422px) {
  .ContentBox {
    position: relative;
    top:800px
  }

}
@media screen and (max-width:530px) {
  .Conttent{
    font-size: smaller;
  }
}