#containerofnav {
  display: flex;
  justify-content: center;
  margin: 0px;
  box-shadow: 0px 5px 3px gray;
}
.navbar {
  padding: 4px;
  margin: 0px;

  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: navy;
}
.navbutton {
  margin: 5px;
  height: 40px;
  width: 110px;
  padding: 0px;
  border: 0px solid navy;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  color: white;
  background-color: navy;
  font-family: Arial, Helvetica, sans-serif;
  transition: all 0.5s linear;
}
@media screen and (max-width: 530px) {
  .navbutton {
    margin: 2px;
    height: 30px;
    width: 80px;
    font-size: small;
    cursor: pointer;
  }
}
@media screen and (max-width: 512px) {
  .navbutton {
    margin: 2px;
    height: 30px;
    width: 18vw;
  }
}

@media screen and (max-width: 396px) {
  .navbutton {
    margin: 2px;
    height: 30px;
    width: 23vw;
  }
}

@media screen and (max-width: 307px) {
  .navbutton {
    margin: 2px;
    height: 30px;
    width: 30vw;
  }
}
@media screen and (max-width: 290px)  {
  .navbutton {
    margin: 2px;
    height: 30px;
    width: 45vw;
  }
}

.navbutton:hover {
  background-color: white;
  color: darkblue;
  border-radius: 5px;
}
