* {
  margin: 0px;
  box-sizing: border-box;
}
body {
  -ms-overflow-style: none; /* IE and Edge */
  width: 100vw;
}
body::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar{
  height: 15px;
  width: 15px;
}
::-webkit-scrollbar-track{
  border-radius: 10vw;
}
::-webkit-scrollbar-thumb{
  border-radius: 10vw;
  background-color: navy;
  border-style:groove;
}
